body,
p {
  background-image: url('background-hires.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Ubuntu;
  color: white;
  margin: 0;
}

@media (max-width: 1200px) {
  body {
    background-image: url('background-hires.png');
  }
}

@media (max-wdith: 768px) {
  body {
    background-image: url('background-hires.png');
  }
}

@media (max-width: 480px) {
  body {
    background-image: url('background-mobile.jpg');
  }
}

#reload {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type=text] {
  background-color: black;
  color: white;
}

.team {
  border: 0.08rem solid;
  border-top: none;
  border-bottom: none;

  flex-grow: 1;
  align-content: center;
  text-align: center;
}

#matchViewer {
  background-color: black;
  color: white;
  border: 0.15rem solid;
  /* border-radius: 1rem; */

  display: flex;
  flex-direction: row;
  align-content: stretch;

  width: 95%;
  height: 10rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4rem;
}

/* CSS for a match box */

.matchBox {
  background-color: black;
  color: white;
  cursor: pointer;
  border: 0.15rem solid;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  align-content: stretch;

  width: 80%;
  height: 3rem;
  margin: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.matchBox:hover {
  opacity: 0.59;
}

.clicked {
  opacity: 0.59;
}

.matchInfoEntry {
  border: 0.08rem solid;
  border-top: none;
  border-bottom: none;

  flex-grow: 1;
  align-content: center;
  text-align: center;
}

.match {
  border-left: none;
}

.alliance {
  flex-grow: 2;
}

.accuracy {
  border-right: none;
}

.topBoxes {
  background-color: black;
  color: white;
  border: 0.15rem solid;
  border-radius: 1rem;

  display: inline-block;
  flex-direction: row;
  align-content: stretch;

  min-width: 3rem;
  height: auto;
  margin-top: 0.75rem;
  margin-right: 0rem;
  margin-left: 1rem;
  margin-bottom: 1rem;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.closeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  color: white;
  font-size: 1rem;
  text-align: center;
  line-height: 0.75rem;
  cursor: pointer;

  border: 2px solid white;
  border-radius: 1rem;
  font-weight: bold;
}

.closeBtn:hover {
  opacity: 0.59;
}


#topBoxesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

#navbar {
  display: flex;
  flex-direction: row;
  max-height: 5rem;
}

.navButton {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.editableInput {
  border: 1px solid #ddd;
  padding: 2px;
  margin-left: 5px;
}