body,
p {
  background-color: black;
  font-family: Arial;
  color: white;
  margin: 0;
}

#reload {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type=text] {
  background-color: black;
  color: white;
}

.team {
  border: 0.08rem solid;
  border-top: none;
  border-bottom: none;

  flex-grow: 1;
  align-content: center;
  text-align: center;
}

#matchViewer {
  background-color: black;
  color: white;
  border: 0.15rem solid;
  /* border-radius: 1rem; */

  display: flex;
  flex-direction: row;
  align-content: stretch;

  width: 95%;
  height: 10rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4rem;
}

/* CSS for a match box */

.matchBox {
  background-color: black;
  color: white;
  cursor: pointer;
  border: 0.15rem solid;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  align-content: stretch;

  width: 80%;
  height: 3rem;
  margin: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.matchBox:hover {
  opacity: 0.59;
}

.clicked {
  opacity: 0.59;
}

.matchInfoEntry {
  border: 0.08rem solid;
  border-top: none;
  border-bottom: none;

  flex-grow: 1;
  align-content: center;
  text-align: center;
}

.match {
  border-left: none;
}

.alliance {
  flex-grow: 2;
}

.accuracy {
  border-right: none;
}

#topBoxesContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

#navbar {
  display: flex;
  flex-direction: row;
  max-height: 5rem;
}

.navButton {
  text-decoration: none;
  color: white;
  padding: 1rem;
}